#window {
  background-color: #282828;
  font: 10.5pt "DejaVu Sans", sans;
}

#input {
  border: 0;
  border-radius: 0;
  color: #ebdbb2;
  background-color: #282828;
}

#input:focus {
  box-shadow: none;
}

#entry {
  color: #ebdbb2;
  background-color: #282828;
}

#entry:selected {
  background-color: #ebdbb2;
  color: #282828;
  outline: none;
  box-shadow: none;
}

#text:selected {
  outline: none;
  box-shadow: none;
  border: 0;
  background-color: #ebdbb2;
  color: #282828;
}
